@page "{id:int}"
@model SkyViews.Pages.BookingModel
@{
    ViewData["Title"] = "Booking";
}
<div class="text-center">
    <img src="/imgs/sky_views_logo.png" />
</div>


<h1>Booking confirmation</h1>
<h2>@Html.DisplayFor(model => model.Film.Title)</h2>
<img src="@Model.Film.ImagePath" />
<h4>@Html.DisplayNameFor(model => model.Film.Synopsis)</h4>
<p>@Html.DisplayFor(model => model.Film.Synopsis)</p>
<h4></h4>
<h5>This is your seat number: @Html.DisplayFor(model => model.assignedNumber)</h5>
<table>
    <tbody>
        @foreach (var item in Model.Film.Showing)
        {
            <tr>This is your showing time: </tr>
            <tr>@item.ShowingTime</tr>
        }

    </tbody>

</table>






