@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/imgs/sky_views_logo.png" />
    @foreach (var item in Model.Film)
    {
    <div>
        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
        <h4>@Html.DisplayNameFor(modelItem => item.Synopsis)</h4>
        <p>@Html.DisplayFor(modelItem => item.Synopsis)</p>
        <img src="@item.ImagePath" />
        <h4>@Html.DisplayNameFor(modelItem => item.Cast)</h4>
        <p>@Html.DisplayFor(modelItem => item.Cast)</p>
        <h4>@Html.DisplayNameFor(modelItem => item.RunningTime)</h4>
        <p>@Html.DisplayFor(modelItem => item.RunningTime)</p>


        <p>@Html.DisplayFor(model => model.currentUser)</p>
        <a asp-page="/Booking" asp-route-id="@item.FilmID"><button type="button" class="btn btn-primary">Book Now</button></a>
    </div>
    }

</div>
